<div class="container-fluid my-5">
  <div class="row align-items-center full">
    <!-- books -->
    <div class="col border-left">
      <div class="row">
        <div class="col display-4 pt-3 pl-3">
          <span class="nhead">Papers</span>
        </div>
      </div>
      <nz-spin
        class="d-flex justify-content-center mt-5"
        *ngIf="!isDataLoaded"
        nzTip="Fetching content..."
        nzSimple
        [nzSize]="'large'"
      ></nz-spin>
      <div *ngIf="isDataLoaded" class="row">
        <div class="col ml-1 mt-1">
          <div class="form-group div-inline mb-0 has-search px-1 w-sm-50">
            <span class="fa fa-search form-control-feedback"></span>
            <input
              type="text"
              class="form-control"
              (input)="searchItem($event.target.value)"
              placeholder="Search papers..."
            />
          </div>

          <div class="div-inline px-1 my-1">
            <button
              nz-button
              nzType="default"
              nz-popover
              nzPopoverTitle="Filter by:"
              [(nzPopoverVisible)]="popVisible"
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentTemplate"
            >
              Filter &nbsp; <i class="fas fa-filter fi"></i>
            </button>
            <ng-template #contentTemplate>
              <div class="conainer">
                <div class="row">
                  <div class="col font-weight-bold">Branch:</div>
                </div>
                <div class="row">
                  <div class="col">
                    <nz-checkbox-group
                      [(ngModel)]="checkOptionOne"
                    ></nz-checkbox-group>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col font-weight-bold">Semester:</div>
                </div>
                <div class="row">
                  <div class="col">
                    <nz-checkbox-group
                      [(ngModel)]="checkOptionTwo"
                    ></nz-checkbox-group>
                  </div>
                  <br />
                </div>
                <div class="row">
                  <div class="col d-flex mt-3 justify-content-center">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="submitFilter()"
                      class="mx-auto"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>

          <div class="div-inline px-1 my-1">
            <button
              *ngIf="curUser"
              nz-button
              nzType="dashed"
              class="ml-2 my-1"
              nzDanger
              (click)="open()"
            >
              Upload
            </button>
            <button
              *ngIf="!curUser"
              nz-button
              nzType="dashed"
              class="ml-2 my-1"
              nzDanger
              [routerLink]="['/login']"
            >
              Sign in to upload
            </button>
          </div>
        </div>
      </div>
      <div class="row pl-3 mt-3" *ngIf="searching">
        <div class="col">
          <nz-spin nzSimple nzTip="Searching papers..."></nz-spin>
        </div>
      </div>
      <div class="row pl-3 mt-3" *ngIf="filtering">
        <div class="col">
          <nz-spin nzSimple nzTip="Filtering papers..."></nz-spin>
        </div>
      </div>
      <div *ngIf="notFound" class="row mt-5">
        <div class="col">
          <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
        </div>
      </div>
      <ng-template #contentTpl>
        <span style="color: #ff4d76"> No matches found</span>
      </ng-template>
      <div *ngIf="isDataLoaded" class="row pl-3 mt-4 notessec">
        <div *ngFor="let paper of papers">
          <div class="col pb-3 px-0 mx-2 cd">
            <a
              ><div class="card" style="width: 9rem">
                <div class="card-body">
                  <h5 class="card-title w-100">
                    {{ paper.sessionFrom }}-{{ paper.sessionTo }}
                  </h5>
                  <div class="card-text">
                    <div>{{ paper.exam }}</div>
                    <hr class="my-1" />
                    <div class="by" style="min-height: 2rem">
                      {{ paper.branch }} &bull; {{ paper.semester }} Sem
                    </div>
                    <button
                      nz-button
                      (click)="getFile(paper.filename)"
                      nzType="primary"
                      class="mt-2 w-100"
                    >
                      <i class="fas fa-download mr-1 limit"></i>Download
                    </button>
                    <button
                      nz-button
                      (click)="deleteFile(paper._id)"
                      nzType="danger"
                      *ngIf="checkDeletable(paper.creator)"
                      class="mt-2 w-100"
                    >
                      <i class="ml-auto far fa-trash-alt"></i>
                      &nbsp;Delete
                    </button>
                  </div>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-drawer
  *ngIf="isDataLoaded"
  [nzPlacement]="placement"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Upload Papers"
  [nzHeight]="400"
  (nzOnClose)="close()"
  class="mt-5"
  nzZIndex="2000"
>
  <form nz-form [formGroup]="papersForm">
    <div class="modal-body pt-0 pb-3">
      <div class="row h-auto">
        <div class="col input-group">
          <nz-form-item>
            <nz-form-label nzRequired>Session</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="subError">
              <input
                nz-input
                formControlName="sessionFrom"
                placeholder="Enter session start year"
                type="number"
              />
              <ng-template #subError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input session !
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mr-3" style="min-width: 10rem">
            <nz-form-control nzHasFeedback [nzErrorTip]="subError">
              <input
                nz-input
                formControlName="sessionTo"
                placeholder="Enter session end year"
                type="number"
              />
              <ng-template #subError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input session !
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="w-25 mr-4" style="min-width: 18.5rem">
            <nz-form-label nzRequired>Branch</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select
                name="Branch"
                formControlName="branch"
                nzPlaceHolder="Select branch"
              >
                <nz-option
                  *ngFor="let branch of branches"
                  nzValue="{{ branch }}"
                  nzLabel="{{ branch }}"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mr-4" style="min-width: 18.5rem">
            <nz-form-label nzRequired>Semester</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select
                name="semester"
                formControlName="semester"
                nzPlaceHolder="Select semester"
              >
                <nz-option
                  *ngFor="let sem of sems"
                  nzValue="{{ sem }}"
                  nzLabel="{{ sem }}"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="w-50 mr-3" style="min-width: 18rem">
            <nz-form-label nzRequired>Subject</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="subError">
              <input
                nz-input
                formControlName="subjects"
                placeholder="Enter subject"
                type="text"
              />
              <ng-template #subError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input subject !
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mr-4" style="min-width: 18.5rem">
            <nz-form-label nzRequired>Exam</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select
                name="exam"
                formControlName="exam"
                nzPlaceHolder="Select exam"
              >
                <nz-option nzValue="Semester" nzLabel="Semester"></nz-option>
                <nz-option nzValue="Mid Term" nzLabel="Mid Term"></nz-option>
                <nz-option
                  nzValue="Practicals"
                  nzLabel="Practicals"
                ></nz-option>
                <nz-option nzValue="Other" nzLabel="Other"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            *ngIf="!fileName"
            type="button"
            (click)="filePicker.click()"
            nzType="dashed"
            class="w-100"
            nzDanger
          >
            Add file
          </button>
          <span
            *ngIf="submitFileError && !papersForm.get('file').valid"
            style="color: #ff4d76"
          >
            Please select a file</span
          >
          <div class="my-2 font w-100" *ngIf="fileName">
            File :
            <div
              class="font-weight-lighter font-smaller w-100 mt-3 mr-3 px-3 py-2 filename"
            >
              <div class="row">
                <div class="col-10">{{ fileName }}</div>
                <a
                  (click)="removeFile()"
                  class="col-2 d-flex justify-content-end"
                >
                  <a class="deleteButton my-auto">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </a>
              </div>
            </div>
          </div>

          <input
            type="file"
            style="display: none"
            (change)="onFilePicked($event)"
            #filePicker
          />
        </div>
      </div>
      <div *ngIf="uploadingStatus" class="row">
        <div class="col d-flex justify-content-center">
          <nz-spin nzSimple class="mt-3" nzTip="Uploading Papers..."> </nz-spin>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button nz-button nzType="primary" (click)="onSubmit()">Save</button>
    </div>
  </form>
</nz-drawer>
